<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Counter</title>
    </head>
    <body>
        <section>
            <h1>Counter</h1>
            <p><%= data.count %> <%= data.word %></p>
            <div>
                <a href="/reset" class="reset">Reset</a>
                <a href="/x2reload" class="reload">+2 Reload</a>
            </div>
        </section>
    </body>
</html>